<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Rails Generators that generate generators</title>

		<meta name="description" content="pdxruby September 2012 lightning talk">
		<meta name="author" content="Jesse Cooke">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/print.css" type="text/css" media="print">

		<link rel="stylesheet" href="lib/css/solarized_light.css" >
		<link rel="stylesheet" href="lib/assets/styles.css">
	</head>

	<body>

		<div class="reveal">

			<!-- Used to fade in a background when a specific slide state is reached -->
			<div class="state-background"></div>

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Rails Generators that generate generators</h1>
					<script>
						// Delicously hacky. Look away.
						if( navigator.userAgent.match( /(iPhone|iPad|iPod|Android)/i ) ) document.write( '<p style="color: rgba(0,0,0,0.3); text-shadow: none;">('+'Tap to navigate'+')</p>' );
					</script>
				</section>

        <section>
          <h2>Generators?</h2>
          <pre><code contenteditable class="bash">
rails new foo
          </code></pre>
        </section>

        <section>
          <h2>Why might you write your own?</h2>
          <h3 class="fragment">You wrote a gem</h3>
        </section>

        <section>
          <pre><code class="bash">
∴ rails g
Usage: rails generate GENERATOR [args] [options]

Please choose a generator below.

...

Kaminari:
  kaminari:config
  kaminari:views

Mongoid:
  mongoid:config
  mongoid:devise

RailsAdmin:
  rails_admin:install
  rails_admin:uninstall
          </code></pre>
        </section>

        <section>
          <h2>Why might you write your own?</h2>
          <h3>You wrote a gem</h3>
          <h3 class="fragment">A conversion</h3>
        </section>

        <section>
          <h2>The mission</h2>
          <h3 class="fragment">DB X -> pg</h3>
          <h3 class="fragment">DB X is... a document database!</h3>
        </section>

        <section>
          <pre><code class="bash">
∴ rails g
Usage: rails generate GENERATOR [args] [options]

General options:
  -h, [--help]     # Print generator's options and usage
  -p, [--pretend]  # Run but do not make any changes
  -f, [--force]    # Overwrite files that already exist
  -s, [--skip]     # Skip files that already exist
  -q, [--quiet]    # Suppress status output

Please choose a generator below.

Rails:
  assets
  controller
  generator <------------------------------ WAT?!?
  helper
  integration_test
  mailer
  ...
          </code></pre>
        </section>

        <section>
          <pre><code class="bash">
∴ rails g generator converter
      create  lib/generators/converter
      create  lib/generators/converter/converter_generator.rb
      create  lib/generators/converter/USAGE
      create  lib/generators/converter/templates
          </code></pre>
        </section>

        <section>
          <pre><code class="bash">
cat  lib/generators/converter/converter_generator.rb
          </code></pre>
          <pre><code class="ruby">
class ConverterGenerator < Rails::Generators::NamedBase
  source_root File.expand_path('../templates', __FILE__)
end
          </code></pre>
        </section>

        <section>
          <pre><code contenteditable class="ruby">
require 'active_record'

class ConverterGenerator < Rails::Generators::NamedBase
  include Rails::Generators::Migration
  source_root File.expand_path('../templates', __FILE__)

  attr_accessor :attributes

  def initialize(args, *options)
    self.attributes = args[1..-1]
    super
  end

end
          </code></pre>
        </section>

        <section>
          <pre><code contenteditable class="ruby">
class ConverterGenerator < Rails::Generators::NamedBase
  # ...

  def copy_initializer_file
    template_locals = {
      class_name: class_name.split('::').join,
      table_name: table_name,
      attributes: attributes
    }
    number = next_migration_number
    template  "migration.rb",
              "db/migrate/#{number}_#{file_name}.rb",
              template_locals
  end
end
          </code></pre>
        </section>

        <section>
          <pre><code contenteditable class="ruby">
class ConverterGenerator < Rails::Generators::NamedBase
  # ...

  def self.base_root
    File.dirname(__FILE__)
  end

  # required interface for Rails::Generators::Migration.
  def self.next_migration_number(dirname) #:nodoc:
    next_num = current_migration_number(dirname) + 1
    ::ActiveRecord::Migration.next_migration_number(next_num)
  end

  private
  def next_migration_number
    # ...
  end
          </code></pre>
        </section>

        <section>
          <pre><code contenteditable class="ruby">
class DatabaseMigrator
  TYPE_MAP = {
    # ...
  }

  def build_migration
    args = mapped_attributes.unshift(model_name)
    Rails::Generators.invoke('migration_writer', args, config)
  end

  private
  def mapped_attributes
    # ...
  end
  # ...
end
          </code></pre>
        </section>

        <section>
          <pre><code class="bash">
cat  lib/generators/converter/templates/migrate.rb
          </code></pre>

          <pre><code contenteditable class="ruby">
class Create<%= config[:class_name] %> < ActiveRecord::Migration
  def change
    create_table :<%= config[:table_name] %> do |t|
      t.string :dbx_id
 <% config[:attributes].each do |attr| -%>
 <%= "t.#{attr.type} :#{attr.name}" %>
 <% if attr.name[/_id$/] %>
 <%= "t.string :dbx_#{attr.name}" %>
 <% end %>
 <% end %>

      t.timestamps
    end
  end
end
          </code></pre>
        </section>

        <section>
          <h2>What I want</h2>
          <pre class="fragment"><code contenteditable class="rake">
rake db:migrate_schema
          </code></pre>
        </section>

        <section>
          <pre><code contenteditable class="ruby">
require 'rails/generators'

namespace :db do
  desc "Migrate DocumentDB to pg"
  task migrate_schema: :environment do
    # explicitly load models to avoid lazy loading in development
    Dir[Rails.root.join("app/models/**/*.rb")].each do |model|
      require model
    end

    Dbx::Base.subclasses.each do |model|
      DatabaseMigrator.migrate(model.schema_attrs, model.to_s)
    end
  end
end
          </code></pre>
        </section>

        <section>
          <pre><code contenteditable class="rake">
rake db:migrate_schema
          </code></pre>
        </section>

        <section>
          <pre><code contenteditable class="ruby">
class CreateWidget < ActiveRecord::Migration
  def change
    create_table :widgets do |t|
      t.string :dbx_id
      t.string :name
      t.text   :description
      t.string :dbx_foo_id

      t.timestamps
    end
  end
end
          </code></pre>
        </section>

        <section>
          <h1>Takeaway...</h1>
          <h2 class="fragment">Repeatability is good!</h2>
        </section>

        <section>
          <h1>Resources</h1>
          <p><a href="http://guides.rubyonrails.org/generators.html">Rails Guides</a></p>
        </section>

        <section>
          <h1>Thanks!</h1>
          <h2>Jesse Cooke</h2>
          <p><a href="https://github.com/jc00ke">github/jc00ke</a></p>
          <p><a href="https://twitter.com/jc00ke">@jc00ke</a></p>
          <p>jesse [at] jc00ke.com</p>
        </section>

      </div>

			<!-- The navigational controls UI -->
			<aside class="controls">
				<a class="left" href="#">&#x25C4;</a>
				<a class="right" href="#">&#x25BA;</a>
				<a class="up" href="#">&#x25B2;</a>
				<a class="down" href="#">&#x25BC;</a>
			</aside>

			<!-- Presentation progress bar -->
			<div class="progress"><span></span></div>

		</div>

		<script src="lib/js/head.min.js"></script>

		<script>
			// Load reveal.js as well as a classList polyfill if needed
			head.js( !document.body.classList ? 'lib/js/classList.js' : null )
				.js( 'js/reveal.js', function() {

				// Parse the query string into a key/value object
				var query = {};
				location.search.replace( /[A-Z0-9]+?=(\w*)/gi, function(a) {
					query[ a.split( '=' ).shift() ] = a.split( '=' ).pop();
				} );

				// Fires when a slide with data-state=customevent is activated
				Reveal.addEventListener( 'customevent', function() {
					console.log( '"customevent" has fired' );
				} );

				// Fires each time a new slide is activated
				Reveal.addEventListener( 'slidechanged', function( event ) {
					// event.previousSlide, event.currentSlide, event.indexh, event.indexv
				} );

				// Full list of configuration options available here:
				// https://github.com/hakimel/reveal.js#configuration
				Reveal.initialize({
					controls: true,
					progress: true,
					history: true,

					theme: query.theme || 'default', // default/neon/beige
					transition: query.transition || 'concave' // default/cube/page/concave/linear(2d)
				});

			} );

			// Load highlight.js for syntax highlighting of code samples
			head.js( '/lib/js/highlight.js', function() {
				hljs.initHighlightingOnLoad();
			} );

			// If we're runnning the notes server we need to include some additional JS
			// TODO Is there a better way to determine if we're running the notes server?
			if( window.location.host === 'localhost:1947' ) {
				head.js( 'socket.io/socket.io.js', 'plugin/speakernotes/client.js' );
			}
		</script>

	</body>
</html>
